
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-left: 40px;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.sidenav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav-item {
    margin-bottom: 50px;
}
.sidenav-ite{
    margin-bottom: 50px;
    padding-left: 20px;
}

.sidenav-item a {
    text-decoration: none;
    color: #333;
   
}

